body {
  margin: 0;
  padding: 0;
  background-color: #101825; 
  color: #e6edf3; 
  font-family: "Segoe UI", Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
}

.form-container {
  background-color: #161b22;
  margin-top: 40px;
  width: 670px;
  border-radius: 10px;
  padding: 30px 40px 35px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.6);
}

.form-container h2 {
  font-weight: 600;
  margin: 0 0 5px;
  font-size: 22px;
  color: #f0f6fc; 
}

.form-container h2 span {
  font-style: italic;
}

.form-container p {
  font-size: 13px;
  color: #9ba1a6;
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 14px;
  margin-bottom: 4px;
  color: #dce1e6;
}

input[type="text"],
input[type="email"],
input[type="password"],
select,
textarea {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #30363d;
  background-color: #0d1117;
  color: #f0f6fc;
  font-size: 14px;
  margin-bottom: 15px;
  outline: none;
  transition: border-color 0.2s, background-color 0.2s;
}


textarea {
  height: 80px;
  resize: none;
}

fieldset {
  border: 1px solid #30363d;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 15px;
}

legend {
  font-size: 14px;
  color: #e6edf3;
  padding: 0 8px;
}

.gender-options,
.skills-options {
  display: flex;
  gap: 15px;
  margin-top: 8px;
}

.gender-options label,
.skills-options label {
  font-size: 14px;
  cursor: pointer;
  color: #c9d1d9;
}

input[type="radio"],
input[type="checkbox"] {
  accent-color: #00aaff;
  cursor: pointer;
}

.btn-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.btn {
  padding: 10px 22px;
  border-radius: 6px;
  border: none;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.25s ease-in-out;
}

.btn-reset {
  background-color: #21262d;
  color: #c9d1d9;
}


/* Create Button */
.btn-create {
  background-color: #00aaff;
  color: #ffffff;
}

